*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
h3{
    text-align: center;
    display: none;
}
#bang{
    display: none;
}
#play{
    position: absolute;
    right: 15px;
    bottom: 30px;
    
}